body {
    background-color: lightblue;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-family: Verdana;
    font-size: 80px;
}

.main {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
}

.sub {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

/* grid inner container*/
.grid-container {
    display: grid;
    grid-template-areas: 'auto auto' ;
    padding: 10px;
}

.grid-one, .grid-two {
    margin: 0;
}

/* input fields */
.field {
    width: 200px;
}

.button {
    font-size: 16px;
    margin-right: 20px;
    border: 1px solid black;
}

/* result */
.data {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 20px;
}